{{! Front page; this file renders a front page with a list of the latest posts }}
{{> head}}
<main>

    <article>
        <header>
            <h1>about</h1>
        </header>
        <div id="post-entry">
            <p>In Egypt during the first few centuries after the life of Christ, men and women would meet discreetly in homes, temple sanctuaries, and other private places to learn a practice promising spiritual liberation. Unlike their Christian neighbors they thought of themselves as followers of Thoth / Hermes, the legendary god of wisdom as he was known first to the Egyptians and later to ancient Greece. While most of their writings are lost, those that have survived are concerned with practices intended to heal the soul of mental delusion.</p>
            <p>
                To achieve this goal the initiate would be led to experience luminous visions, exorcism, spiritual rebirth, cosmic consciousness, and ultimately union with the most fundamental source of all that is
                <b>good</b>, <b>beautiful</b>, and <b>true</b>. Armed with this direct experience (gnosis) the successful student was able to perceive the true nature of reality behind the hallucinatory veil of appearances.&nbsp;
            </p>
            <p>This website presents a small collection of writings drawn from the collection of hermetic (i.e, of or from Hermes) literature still extant as well as from writings that this author deems to be hermetically inspired and, therefore, inspiring.</p>
        </div>
    </article>

    {{! loop that generates a list of posts }}
    {{#each posts}}
        <article>

            {{! featured image }}
            {{#featuredImage}}
                {{! checks if an image exists }}
                {{#if url}}
                    <figure>
                        <img
                            src="{{url}}"
                            {{! checks if the Responsive Images option (located in Site Settings -> Website Speed) is enabled  }}
                            {{#if @config.site.responsiveImages}}
                                {{responsiveImageAttributes 'featuredImage' srcset sizes}}
                            {{/if}}
                            {{! generates a native loading attribute; if the Media Lazy Load option (located in Site Settings -> Website Speed) is disabled, the loading attribute is not generated  }}
                            {{lazyload "lazy"}}
                            height="{{height}}"
                            width="{{width}}"
                            alt="{{alt}}">

                            {{! checks if a caption and credits exist  }}
                            {{#checkIfAny caption credits}}
                                <figcaption>
                                    {{caption}}
                                    {{credits}}
                                </figcaption>                      
                            {{/checkIfAny}}
                            {{! /checks if a caption and credits exist  }}

                     </figure>
                {{/if}}
                {{! /checks if an image exists }}
            {{/featuredImage}}
            {{! /featured image }}

            {{! post title }}
            <h2>
                <a href="{{url}}">{{title}}</a>
            </h2>
            {{! /post title }}

            {{! main tag - if no main tag is selected, then the first tag in the list of all tags will be used }}
            {{#if mainTag}}
                <a href="{{mainTag.url}}">{{mainTag.name}}</a>
            {{/if}}
            {{! /main tag }}

            {{! post excerpt - the Custom excerpt is generated when the Read More button is used when editing a post }}
            {{#if hasCustomExcerpt}}
                {{{ excerpt }}}
            {{else}}
                <p>{{{ excerpt }}}</p>
            {{/if}}
            {{! /post excerpt }}

        </article>
    {{/each}}
    {{! /loop that generates list of posts }}
    
</main>

{{> pagination}}
{{> footer}}